*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', sans-serif;
}

body{
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card{

    width: 120px;
    height: 120px;
    position: relative;

    transform-style: preserve-3d;
    transition: transform .5s;
}

.card_front, .card_back{
    position: absolute;

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    backface-visibility: hidden;
}

.flip{
    transform: rotateY(180deg);
}

.card_front{
background-color: #101C2C;
transform: rotateY(180deg);
color: aliceblue;
}

.card_back{
background-color: #05C3FF;
color: #101C2C;
font-size: 30px;
}

#gameOver{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: aliceblue;
    font-size: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;

}


#restart{
    padding: 20px;
    font-size: 20px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

#gameBoard{
    max-width: 700px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
    gap: 20px;

}